<% include partials/pageopen.ejs %>
<div class="jumbotron gradient" style="height: 600vh; border-radius: 0em;">
    <h1 class="display-4 h1">EventSet Events</h1>
    <p>Add and edit events here.</p>
    <!-- <a class="btn btn-outline-secondary button-top" action="/users/logout" role="button">Log Out</a> -->
    
    <!-- This toggles between hiding a showing a form that allows user to create a new event -->
    <button type="button" class="btn btn-primary btn-lg" id="eventButton">Click here to add an event!</button>
    <div class="card" id="event-form1" style="width: 18rem;">
        <div class="card-body">
            <form action="/event/create" method="POST">
                <h5 class="card-title"><input class="event-type" type="text" id="type" name="type" /></h5>
                <h5><input class="event-date" type="text" id="date" name="date" placeholder="YYYY-MM-DD" required />
                </h5>
                <h5 class="card-title"><input class="event-time" type="time" id="time" name="time" /></h5>
                
                <!-- <h6 class="card-subtitle mb-2 text-muted"><input class="create-event" type="date" value="2017-06-01"
                    id="date" name="date"/></h6> -->
                    <div class="">
                        <button type="submit" class="btn-link">Create Event</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="my-4" id="jumbo-line">

        <!-- This shows existing events -->
    <div class="Container">
        <div class="row d-flex justify-content-around position-row card-row">
            <% results.forEach((entry, index) => { %>
            <div class="card card-bottom" id="event-card<%=index%>" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= entry.type %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= entry.dateFormatted %></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><%= entry.timeFormatted %></h6>
                    <a onClick="showEvent(<%=index%>)" class="card-link" id="event-button3">Update Event</a>
                    <form action="event/delete/<%= entry.id %>?_method=delete" method="POST"><button type="submit">Delete Event</button> </form>
                </div>
            </div>
            <div class="card hidden card-row" id="event-form<%=index%>" style="width: 18rem;">
                <div class="card-body">
                    <form action="/event/update/<%=entry.id%>?form=true&_method=put" method="POST" id="edit">
                        <h5 class="card-title"><input class="event-type" type="text" id="type" name="type"
                                value="<%= entry.type %>" /></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><input class="update-event" type="date" id="date"
                                name="date" value="<%= entry.dateFormatted %>" /></h6>
                        <h6 class="card-subtitle mb-2 text-muted"><input class="update-event" type="time" id="time"
                                name="time" value="<%= entry.timeFieldValue %>" /></h6>
                        <div class="">
                            <button type="submit" class="btn-link">Update Event</button>
                        </div>
                    </form>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<% include partials/pageclose.ejs %>