<% include partials/pageopen.ejs %>


<!-- <h1>Welcome to EventSet!</h1>
<% if (user) { %>
<h2>You are logged in</h2>
<% } else { %>
<h2>Logged out</h2>
<% } %>
<p><a href="/contact">Contacts</a></p> -->

<div class="jumbotron gradient" style="height: 600vh; border-radius: 0em;">
    <h1 class="display-4 h1">Welcome to EventSet!</h1>
    <% if (user) { %>
    <p class="lead">You are now logged in.</p>
    <% } else { %>
    <p class="lead">You are logged out.</p><% } %>
    <hr class="my-4" id="jumbo-line">

    <div class="Container">
        <div class="row d-flex position-row card-row">

            <div class="card card-bottom" id="user-card"  style="width: 18rem;">
                <div class="card-body">
                    <h2>Account Information</h2>
                    <h5 class="card-title"><%= user.username %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
                    <a onClick="showUser()" class="card-link">Update Account</a>
                    <form action="/delete/<%= user.id %>?_method=delete" method="POST"><button type="submit">Delete Contact</button> </form>
                </div>
            </div>

            <div class="card hidden card-row" id="user-form" style="width: 18rem;">
                <div class="card-body">
                    <h2>Update Account</h2>
                    <form action="/update/<%= user.id %>?form=true&_method=put" method="POST" id="edit">
                        <h5 class="card-title"><input class="update-user-username" type="text" id="username" name="username"
                                value="<%= user.username %>" /></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><input class="update-user-email" type="email"
                                id="email" name="email" value="<%= user.email %>" /></h6>
                        <div class="">
                            <button type="submit" class="btn-link">Update Account</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/pageclose.ejs %>